 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #21175C;
    color: white;
    font-family: 'Sofia Pro', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 100vh;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #454DDE;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
}

.fule_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

i {
    align-items: center;
    font-size: 30px;
    margin-bottom: 5px;
}

